@import ../../AllStyle

.searchCard
    margin: 5px
    width: 22%
    border: 2px solid #000
    position: relative

    .topCard
        position: relative
        width: 100%

        img
            width: 100%
            background-size: cover

        .circleBlock
            width: 90%
            display: flex
            justify-content: flex-end
            position: absolute
            bottom: -25px

            .circle
                width: 50px
                height: 50px
                background: #fff
                border-radius: 50%

            .circleSmall
                position: absolute
                top: -5px
                right: 55px
                width: 10px
                height: 10px
                background: #fff
                border-radius: 50%

            .circleSmall2
                position: absolute
                top: -5px
                right: -15px
                width: 10px
                height: 10px
                background: #fff
                border-radius: 50%
            
            .circleSmall3
                position: absolute
                top: -20px
                right: 20px
                width: 10px
                height: 10px
                background: #fff
                border-radius: 50%


    .bottomCard
        display: flex
        flex-direction: column
        padding: 10px 20px